<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Reevaluación</title>
  <link rel="icon" href="favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
  <div class="page_wrapper">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="footer"></partial>
  </div>
</body>
</html>