.page_footer{
  height: 90px;
  margin:0;
  padding: 0;
  background-color: black;
  color:white;
  text-align: center;
}
//Copyright
.footer_par{
  margin:0;
  padding: 34px 105px;
  @include Copyright;
}