body{
  margin:0;
  padding: 0;
}
.page_wrapper{
  background-color: pink;
  margin:0;
  padding: 0;
}
.page_header{
background-color: #ffffff;
width: 100vw;
margin:0;
padding: 0;
text-align: center;
position:fixed;
  @media all and(min-width:768px){
  display:flex;
  justify-content: space-between;
  }
}
//logo adalab
.style_img{
padding: 10px 82px;
text-align: center;
width: 155px;
height: 60px;
  @media all and(min-width:768px){
  padding: 20px 30px;
  }
  @media all and(min-width:1024px){
  padding: 20px 50px;
  }
}
// menu del header
.header_list{
margin:0;
padding: 0 87px 13px 88px;
list-style: none;
text-transform: uppercase;
display: flex;
justify-content: center;
@include menu;
  @media all and(min-width:768px){
  padding: 41px 30px;
  }
  @media all and(min-width: 1024px){
  padding: 41px 50px;
  }
}
// transicion de la lista
.style-element{
  text-decoration: none;
  color: #000000;
  &:hover {
    color:#32decf;
    text-decoration: underline;
  }
}
.elem1{
margin-right: 20px;
}