body{
  margin:0;
  padding: 0;
}
.page_wrapper{
  background-color: pink;
  margin:0;
  padding: 0;
}
.header_box{
  background-color: #ffffff;
  width: 100vw;
  margin:0;
  padding: 0;
  text-align: center;
  position:fixed;
}
.style_img{
  padding: 10px 82px;
  text-align: center;
  width: 155px;
  height: 60px;
}
.header_list{
  margin:0;
  padding: 0 87px 13px 88px;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  @include menu;
}
a{
  &:hover {
    color:#32decf;
  }
}


.elem1{
  margin-right: 20px;
}