.page_hero{
  margin:0;
  padding: 0;
  height: 100vh;
  background-image: url("../images/imagenhero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
// h1 del hero
.box_title{
  padding: 0;
  margin: 129px 20px;
  width: 161px;
  text-align: center;
  @include T1---mobile;
    @media all and(min-width:768px){
      @include T1---tablet;
      width: 322px;
      height: 213px;
      margin: 311px 30px;
  }
}