.page_main{
  margin:0;
  padding: 0;
  min-height: 366px;
  background-image: url("../images/imagenhero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero_box {
  margin:0;
  padding: 129px 20px;
  width: 161px;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  @include T1---mobile;
    @media all and(min-width:768px){
      top:311px;
      left: 30px;
    }
}
